@model Mobile_Velingrad.ViewModels.HomeIndexViewModel;

@{
    ViewData["Title"] = "Mobile Velingrad";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>Welcome to @ViewData["Title"]</h1>
            <h2><i class="fas fa-mobile-alt"></i> +359 89 304 6744</h2>
            <hr class="my-4">

            <div class="jumbotron">
                <h2>The Most Expensive Cars</h2>
                <hr class="my-4">
                <div class="row">
                    @foreach (var item in Model.TopExpensive.VehicleViewModels.Take(3))
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?cs=srgb&dl=pexels-mikebirdy-120049.jpg&fm=jpg" alt="@item.Brand @item.Model">
                                <div class="card-body">
                                    <h5 class="card-title">Brand: @item.Brand</h5>
                                    <p class="card-text">Model: @item.Model</p>
                                    <p class="card-text">Price: @item.Price</p>
                                    <p class="card-text">Mileage: @item.Run</p>
                                    <p class="card-text">Location: @item.City</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <hr class="my-4">
                <h2>The Cheapest Cars</h2>
                <hr class="my-4">
                <div class="row">
                    @foreach (var item in Model.TopCheapest.VehicleViewModels.Take(3))
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="https://miro.medium.com/max/1620/1*o9SPb2hIfiUjkWjVaxcGtQ.jpeg" alt="@item.Brand @item.Model">
                                <div class="card-body">
                                    <h5 class="card-title">Brand: @item.Brand</h5>
                                    <p class="card-text">Model: @item.Model</p>
                                    <p class="card-text">Price: @item.Price</p>
                                    <p class="card-text">Mileage: @item.Run</p>
                                    <p class="card-text">Location: @item.City</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <hr class="my-4">
                <h2>Last Added Cars</h2>
                <hr class="my-4">
                <div class="row">
                    @foreach (var item in Model.LastAdded.VehicleViewModels.Take(3))
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                            <div class="card h-100">
                                <img class="card-img-top" src="https://www.tuningblog.eu/wp-content/uploads/2020/08/Getriebetausch-SMG-II-Handschaltung-BMW-E46-M3-CSL-Tuning-3.jpg" alt="@item.Brand @item.Model">
                                <div class="card-body">
                                    <h5 class="card-title">Brand: @item.Brand</h5>
                                    <p class="card-text">Model: @item.Model</p>
                                    <p class="card-text">Price: @item.Price</p>
                                    <p class="card-text">Mileage: @item.Run</p>
                                    <p class="card-text">Location: @item.City</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
