@model Mobile_Velingrad.ViewModels.VehiclesViewModel;

<h1 class="text-center">List of cars</h1>
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>AdvertDate</th>
            <th>Mileage</th>
            <th>Location</th>
            <th>Tags</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <th>@item.Brand</th>
                <th>@item.Model</th>
                <th>@item.Price</th>
                <th>@item.AdvertDate</th>
                <th>@item.Run</th>
                <th>@item.City</th>
                <th>@string.Join(", ", item.Tags)</th>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="..." class="">
    <ul class="pagination  justify-content-center ">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.PreviousPageNumber">
                <i class="fas fa-caret-left"></i>

            </a>
        </li>
        @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="Index" asp-route-page="@Model.NextPageNumber"><i class="fas fa-caret-right"></i></a>
        </li>
    </ul>
</nav>